input{
  padding: 10px 20px;
  margin-bottom: 10px;
}
table{
  display: flex;
  flex-wrap:wrap;
  width: 100%;
  border: solid 1px black;
}

tr{
  display: inline-block;
padding-left: 50px;
}
img{
}

td{
  padding-left: 100px;
  display: flex;
}

.b1{
  float: left;
}